
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<p>Github <a href="https://github.com/tonylin123">My Projects</a>.</p>
  <h2>VendingMachine</h2>
<p>Github <a href="https://github.com/tonylin123/VendingMachine-assignment4">Link</a>.</p>
 <p>Simple VendingMachine program made with C#</p>