@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="POST" class="form">
    <label for="guess">Guess a number between, 1-100</label>
    <input type="number" name="guess">
    <input type="submit" value="Submit" formaction="GuessingGame">
    <input type="submit" value="Restart" formaction="Restart" />
    <p>Number of guesses: @ViewBag.Guesses</p>
</form>

@if (ViewBag.Msg != null)
{
        <div>@ViewBag.Msg</div>
}